include etc/iotronic/iotronic.conf
include templates/settings.example.json
include templates/plugins.example.json
include templates/services.example.json
include etc/systemd/system/s4t-lightning-rod.service
include etc/logrotate.d/lightning-rod.log
include scripts/lr_install
include scripts/lr_configure
include scripts/device_bkp_rest
include iotronic_lightningrod/proxies/configs/*
include iotronic_lightningrod/modules/web/static/css/*
include iotronic_lightningrod/modules/web/static/js/*
include iotronic_lightningrod/modules/web/templates/*

include AUTHORS
include ChangeLog
exclude .gitignore
exclude .gitreview

global-exclude *.pyc

