{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}First configuration{% endblock %}</h3>
{% endblock %}

{% block content %}
<div class="form-group">
  <form method="post">
      <div class="form-group">
    <label for="urlwagent">Registration Agent: </label>
    <input  class="form-control" name="urlwagent" id="urlwagent"  value="{{ urlwagent }}"  required></div>
    <div class="form-group"></div>
    <label for="code">Registration Code:</label>
    <input  class="form-control" name="code" id="code"  value="{{ code }}" required></div>
    <input  class="btn btn-success" type="submit" value="CONFIGURE">
  </form>
</div>
{% endblock %}