{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Status{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h2>Board info @ {{ timestamp }}</h2>
    <br>
    <h4> Iotronic </h4>
    <li> Lightning-rod version: {{lr_version}}</li>

    <li> Iotronic connection status: {{iotronic_status}}</li>
    <li>Name: {{ board_name }} </li>
    <li>UUID: {{ board_id }} </li>
    <li>Registartion status: {{ board_reg_status }}</li>
    <li>WAMP Agent: {{ wagent }} </li>
    <li>Session ID: {{ session_id }} </li>
    <br>
    <h4> WSTUN </h4>
    <li>Status: {{ wstun_status }} </li>
    <li>Services: <br>
        <ul>
                {% autoescape false %}
                    {{service_list}}
                {% endautoescape %}
        </ul>

    </li>

</div>
{% endblock %}