{% extends 'base.html' %}

{% block header %}

<h3>
{% block title %}

  System

{% endblock %}
</h3>

{% endblock %}



{% block content %}

<center>
  <br>
  <h5> Lightning-rod status: {{ board_status }}</h5>
</center>
<br><br>


<br><br>
<div class="d-flex">
    <hr class="my-auto flex-grow-1">
    <div class="px-4"> <h5> Actions </h5></div>
    <hr class="my-auto flex-grow-1">
</div>
<br>

<div class="form-group" align="center">

    <table class="table table-hover">


        <form method="get" action="/config">

            <tr>
              <td style="width:30%"> <input class="btn btn-primary btn-block" type="submit" value="LR restart" name="lr_restart_btn"> </td>
              <td> Restart Lightning-rod. </td>
            </tr>

        </form>

    </table>

</div>




<!--
<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>


<div id="confirm" class="modal hide fade">

    <div class="modal-body">
        Are you sure?
    </div>

    <div class="modal-footer">
      <form method="get" action="/config">
        <input type="button" data-dismiss="modal" class="btn btn-primary" id="delete" type="submit" value="LR restart" name="lr_restart_btn">
        <input type="button" data-dismiss="modal" class="btn" value="Cancel">
      </form>
    </div>

</div>


<div class="form-group" align="center">

    <table class="table table-hover">




            <tr>
              <td style="width:30%"> <input data-toggle="modal" data-target="#confirm" class="btn btn-primary btn-block btn-xs" value="LR restart"> </td>
              <td> Restart Lightning-rod. </td>
            </tr>



    </table>

</div>
-->


{% endblock %}