[Unit]
Description=Iotronic Lightning-Rod
After=network.target

[Service]
Type=simple
User=root
Group=root
StandardInput=null
StandardOutput=journal
StandardError=journal
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/python3 /usr/local/bin/lightning-rod
Restart=on-abort

[Install]
WantedBy=multi-user.target
